html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.head {
    color: #0000ff;
    border: 2px solid #948c8c;
    background-color: #c0c0c0;
    box-shadow: 6px 5px 9px -1px #8C8577;
    text-align: center;
    font-size: 24px;

}