html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px double #948c8c;
    border-radius: 50px;
    width: 50%;
}