html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.paragraph {
    color: #393231c9;
    border: 2px solid #948c8c;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 6px 5px 9px -1px #8C8577;
    line-height: 2;
}

.paragraph__hobby {
    font-weight: 700;
}