html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.table__title {
    background-color: #193e62;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.table__row :hover {
    background-color: hsl(0, 3%, 73%);
}

.table__cell {
    border: 2px solid #706a6a;
    padding: 15px;
    text-align: center;
}

.table__cell--header {
    background-color: #193e62;
    color: #ffffff;
    border: 2px solid #706a6a;
    padding: 15px;
    text-align: center;
}